doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/header.css")
  body
    header
      div.header-contents
        img(src="./images/logo.png").logo
        ul
          li: a(href="#card") 内容
          li: a(href="#about") 概要
          li: a(href="#last-space") 講師
    != yield
    script(src="./jquery-3.2.1.min.js")
    script(src="./index.js")