main
  div.width-full.spaced#first-space
    h1 盆踊り！始めませんか？
    h1 Shall we bon-odori?
  
  div.box#box
    p.topic レッスン内容
    p 1レッスン
    p.desc 1時間30分
    p お月謝制
    p.desc 6000 / 月2回（施設使用料・資料代込み）（体験1000円）
    p 場所
    p.desc フジサワ名店ビルホール、STUDIO.RONDなど
    a.expand 詳細はこちら
      
  div.width-limited.about#about
    img(src="./images/dance.jpg").dance-img
    h2 概要
    p 定番～話題の盆踊り曲、盆踊り曲に留まらず、民謡、洋楽、J-POP、昭和歌謡…
    p 色々な歌に合わせて踊りましょう♪
    
    p.break 盆踊り…踊って楽しいだけじゃない！！
    p.break ほどよい有酸素運動、脳トレ、筋トレ、ロコモ対策、シェイプアップ、そしてリラクゼーションにもなるんです！！
    p.break.mbot 激しすぎず緩すぎずなので、からだもこころも、だんだんとほぐれていくのが分かりますよ♪
    
    h2.nop 特徴
    
    p.break 定番の「炭坑節」、「東京音頭」、「大東京音頭」などの曲をはじめ、地元藤沢の盆踊り曲、旬の盆踊り曲、今ならオリンピックまでに覚えたい東京五輪音頭2020♪や、鳳蝶流 家元振付けCMでお馴染みの三太郎音頭も！
    p.break また、盆踊り曲に留まらず、民謡、洋楽、J-POP、昭和歌謡…色々な歌に合わせて踊ります。
    
  div.width-full.spaced#last-space
    h1 指導講師プロフィール
    
  div.width-limited.profile
    img(src="./images/profile.jpg").profile-img
    h2 指導講師
    p 長谷川　 美陽成（はせがわ　みようなり）
    p 日本民踊鳳蝶流（あげはりゅう）助教師
    p 公益財団法人 日本民謡協会　教師
    p.break 日本民踊 鳳蝶流 家元 鳳蝶 美成（アゲハ ビジョウ）師に師事。
    p.break 所属/鳳蝶流 美蝶会、日本民謡協会、中野民謡連盟所属、川名 菊陽連副代表
    p.break また、リラクゼーション整体師、アロマセラピスト資格を持ち、体のケアの面も考慮した指導を心がける